body{
  margin:0.5rem;
}

h1, h2, h3, h4{
  font-family: 'Zilla Slab', serif;
  font-weight:700;
}

p, figcaption, a, span, li{
  font-family: 'Zilla Slab', serif;
  font-weight:400;
  font-size:1.2rem;

}

p, li{
  line-height: 1.5rem;
}

code{
  display: block;
  font-family: 'Roboto Mono', monospace;

  padding: 1rem;

  background-color: #dfdfdf;
}

h1{
  font-size: 4.2rem;
}

h2{
  font-size: 3rem;

  margin-top:2rem;
  margin-bottom:1rem;
}

h3{
  font-size: 1.75rem;
}

h4{
  font-size: 1.2rem;
}

p{
  max-width: 37.5rem;
}

a{
  color: #0ead69;
}

a:hover{
  opacity:0.8;
}

a:focus, a:active{
  color: #0a794a;
}

img{
  width:100%;
  height:auto;
}

#other-things{
  margin-top:4rem;
}

/* Generic Classes START */

.section-line{
  border-bottom: 3px solid #540d6e;
  margin-bottom: 1.5rem;
  display:inline-block;
}

.monster .section-line{
  border-color: #ffd23f;
}

.slaw .section-line{
 border-color: #0ead69;
}

.no-margin-top{
  margin-top:0;
}

/* Generic Classes END */

/* Header Styles START */

header{
  text-align:center;
}

header h3{
  font-size: 2rem;
  font-weight: 400;

  margin-top: 0.5rem;
  margin-bottom:0.5rem;

  color: #3bceac;
}

header h1{
  margin-bottom: 0.5rem;
  margin-top:1rem;
}

/* Header Styles END */


/* Nav Styles START */

nav{
  text-align:center;
}

nav ul{
  list-style-type:none;
  padding-left:0;
}

nav li{
  display:inline-block;
  line-height:0;

  padding: 0 2rem;
}

nav h3{
  transition:transform 0.3s;
}

nav li:hover h3, nav li:active h3, nav li:focus h3{
  transform: scale(1.3);
  transition:transform 0.3s;
}

/* Nav Styles END */

/* Footer Styles START */

footer{
  text-align:center;
  padding:2rem;
}

footer h4{
  margin:0.5rem;
}

/* Footer Styles END */

/* MetaNav Styles START */

#metanav{
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#metanav img{
  max-width:1.5rem;
  opacity:0.5;
}

#metanav img:hover{
  opacity:1;
}

#metanav ul{
  list-style-type:none;
  padding-left:0;
  margin-bottom:0;
}

#metanav li{
  display:inline-block;
  line-height:0;
  padding: 0 2rem;
}

/* MetaNav Styles END */

/* Bottom Nav Styles START */

#bottom-nav .left:hover .material-icons{
  transform:translateX(-5px);
  transition: transform 0.3s;
}

#bottom-nav .right:hover .material-icons{
  transform:translateY(-5px);
  transition: transform 0.3s;
}

#bottom-nav a{
  text-decoration: none;
  transition: transform 0.3s;
}

#bottom-nav .material-icons{
  font-size:2rem;
  vertical-align: bottom;
  transition: transform 0.3s;
}

#bottom-nav {
  text-align: center;
}


/* Bottom Nav Styles END */

/* Project Block Styles START */

.project-block#project-1, h2#project-1{
  border-top:5px solid #ffd23f;
}

.project-block#project-2, h2#project-2{
  border-top:5px solid #0ead69;
}

.project-block#project-3, h2#project-3{
  border-top:5px solid #540d6e;
}

.project-block h3{
  margin-top:0.5rem;
  margin-bottom:0.5rem;
}

.project-block h4{
  color:#3bceac;
  margin-top:0.5rem;
  margin-bottom:1rem;
}

.project-block a{
  color:black;
  text-decoration: none;
}

.project-block-image{
  background-image:url('http://placehold.it/500x300');
  background-size: cover;
  background-repeat: no-repeat;
  height:15rem;
  transition:height .3s;
}

#project-1-image{
  background-image:url("../img/monster-Summary.gif");
  background-position:center;
}

#project-2-image{
  background-image:url("../img/slaw-tiny.png");
  background-position:center;
}

#project-3-image{
  background-image:url("../img/vodya-tiny.jpg");
  background-position:center;
}



/* Project Block Styles END */

/* Project Analysis START */

#project-analysis h3{
  margin-top:1rem;
  margin-bottom:0.5rem;
  line-height:1.5rem;
}

#project-analysis.monster img{
  display:block;
  margin-left:auto;
  margin-right:auto;
  max-width: 25.9375rem;
}

#project-analysis .grid-row{
  margin-bottom:2rem;
  display:flex;
  flex-direction: column;
}

#project-analysis.monster .one-3{
  order:1;
}

#project-analysis.monster .two-3{
  order:2;
}

#project-analysis.slaw .one-3{
  order:2;
}

#project-analysis.slaw .two-3{
  order:1;
}

/* Project Analysis END */

/* Project Info Styles START */

#project-info .banner.monster{
  width:100%;
  height:20rem;
  background-image:url('../img/slaw-town.png');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}

#project-info {
  margin-bottom: 2rem;
}

#project-info h2{
  margin-bottom:0;
}

#project-info h3{
  color:#3bceac;
  margin:0;
}

#project-info h4{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

#project-info h4 strong{
  font-weight: 700;
}


/* Project Info Styles END */

/* Button Styles START */

.button.primary{

  display: inline-block;
  margin-top: 0.3rem;
  padding: 0.5rem 1.5rem;
  background-color: #0ead69;
  color: white;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.04rem;
  font-size: 1.3rem;
  border: 1px solid #0ead69;
  transition:background-color .3s;
}

.button.primary:active, .button.primary:hover{
  background-color:#0a794a;
  text-decoration:underline;
  transition:background-color .3s;
}

.button.secondary{
  display: inline-block;
  margin-top: 0.3rem;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.04rem;
  font-size: 1.3rem;
  border: 1px solid #0ead69;
  transition:color .3s;
}

.button.secondary:active, .button.secondary:hover{
  color:#0a794a;
  text-decoration:underline;
  border-color:white;
  transition:color .3s;
}

/* Button Styles END */

/* Example Styles START */

h1.example, h2.example, h3.example, h4.example{
  margin-top:0.5rem;
  margin-bottom: 0.5rem;
}

h3.regular{
  font-weight:400;
}


/* Example Styles END */

/* COLOUR SWATCH STYLES START */

.colour-1, .colour-2, .colour-3, .colour-4, .colour-5{
  min-height: 10rem;
}

.colour-1{
  background-color: #000000;
}

.colour-2{
  background-color: #FFFFFF;
}

.colour-3{
  background-color: #0ead69;
}

.colour-4{
  background-color: #540d6e;
}

.colour-5{
  background-color: #ffd23f;
}

.colour-swatches div span{
  text-align: center;
  display: block;
  font-size: 1.2rem;
  padding-top: 0.5rem;
  color: #5b5b5b;
}



/* COLOUR SWATCH STYLES END */


@media (min-width:55rem){

  .project-block-image{
    background-image:url('http://placehold.it/500x300');
    background-size: cover;
    background-repeat: no-repeat;
    height:0;
    transition:height .3s;
  }

  .project-block h3{
    margin-top:0;
  }

  .project-block:hover .project-block-image{
    height:11rem;
    transition:height .3s;
  }

  #project-analysis .col.one-3{
    order:unset;
  }

  #project-analysis .col.two-3{
    order:unset;
  }

  #project-analysis .grid-row{
    margin-bottom:4rem;
    display:flex;
    flex-direction: row;
  }

  #project-analysis.slaw .grid-row{
    margin-bottom:4rem;

  }

  #project-analysis h3{
    margin-top:0rem;
    margin-bottom:0.5rem;
    line-height:1.5rem;
  }

  #bottom-nav .right{
    float:right;
    transition: transform 0.3s;
  }

  #bottom-nav .left{
    float:left;
    transition: transform 0.3s;
  }
}
